@charset "utf-8";

/* ページ全体に関わるCSSの設定 */

html *,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: sans-serif;
}
